<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        function getID(elem) {
            let item = $(elem).closest("tr").find("#idm").text();;
             // alert("item= " + item);
          return item
        }

        function GetRowIndex(element) {
          let rowJavascript = element.parentNode.parentNode;
          // let rowjQuery = $(element).closest("tr")
          // alert("JavaScript Row Index : " + (rowJavascript.rowIndex) + "\njQuery Row Index : " + (rowjQuery[0].rowIndex));
          return rowJavascript.rowIndex
        }

    </script>
</head>
<body>

<h1>My Messages</h1>

<p>List of items:</p>

<table border="1">
  <tr>
    <th>MessageID</th>
    <th>created</th>
    <th>subject</th>
    <th>message</th>
    <th>isRead</th>
    <th>sender</th>
    <th>receiver</th>
    <th>Link</th>
    <th>Link2</th>
  </tr>
<!--  <script>let i = -1; const m_id=[]</script>-->
  {% for x in mymessages %}
    <tr>
      <td id="idm">{{ x.id }}</td>
      <td>{{ x.created }}</td>
      <td>{{ x.subject }}</td>
      <td>{{ x.message }}</td>
      <td>{{ x.isRead }}</td>
      <td>{{ x.sender_id }}</td>
      <td>{{ x.receiver_id }}</td>
      <td><a href="../mymessages/" onclick="location.href=this.href+getID(this);return false;"> here </a></td>
      {% with x.id|stringformat:"s" as x_id %}
      <td> {{'http://127.0.0.1:8000/api/mymessages/'| add:x_id | urlize}} </td>
      {% endwith %}
    </tr>
  {% endfor %}
</table>
<br>
<a href="http://127.0.0.1:8000/api/">Api Root</a>

<!--<p>The queryset object:</p>-->

<!--<p>{{ mymessages }} </p>-->

</body>
</html>